:root {
    --base: #ffc600;
    --spacing: 10px,
    --blur: 15px,
}

body {
    height: 100vh;
}

img {
    width: 600px;
    padding: var(--spacing);
    background-color: var(--base);
    filter: blur(var(--blur))
}

h1 {
    color: var(--base);
}